# Importing the Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# 1. Load and Read the CSV file

In [2]:
df=pd.read_csv(r"C:\Users\hp\Downloads\Spam dataset\spam.csv")
df

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will �_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

# 2. Top 5 rows of the Dataset

In [3]:
df.head(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

# 3. Last 5 rows of the Dataset

In [4]:
df.tail(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will �_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

# 4. Replace the Null values with Null string

In [5]:
sms=df.where((pd.notnull(df)),'')

In [6]:
sms

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",,,
1,ham,Ok lar... Joking wif u oni...,,,
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,,,
3,ham,U dun say so early hor... U c already then say...,,,
4,ham,"Nah I don't think he goes to usf, he lives aro...",,,
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,,,
5568,ham,Will �_ b going to esplanade fr home?,,,
5569,ham,"Pity, * was in mood for that. So...any other s...",,,
5570,ham,The guy did some bitching but I acted like i'd...,,,
5571,ham,Rofl. Its true to its name,,,

# 5. Summary of the Dataset

In [7]:
sms.describe()

          v1                      v2 Unnamed: 2 Unnamed: 3 Unnamed: 4
count   5572                    5572       5572       5572       5572
unique     2                    5169         44         11          6
top      ham  Sorry, I'll call later
freq    4825                      30       5522       5560       5566

# 6. Shape of the Dataset

In [8]:
sms.shape

(5572, 5)

# 7. Get the information of the dataset

In [9]:
sms.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  5572 non-null   object
 3   Unnamed: 3  5572 non-null   object
 4   Unnamed: 4  5572 non-null   object
dtypes: object(5)
memory usage: 217.8+ KB

# 8. Checking the Null values in the dataset

In [10]:
sms.isnull().sum()

v1            0
v2            0
Unnamed: 2    0
Unnamed: 3    0
Unnamed: 4    0
dtype: int64

# 9. Label Encoding

In [11]:
# Label ham mail is 1, spam mail is 0
sms.loc[sms["v1"]=="spam","v1"] = 0
sms.loc[sms["v1"]=="ham","v1"] = 1

In [12]:
sms

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,1,"Go until jurong point, crazy.. Available only ...",,,
1,1,Ok lar... Joking wif u oni...,,,
2,0,Free entry in 2 a wkly comp to win FA Cup fina...,,,
3,1,U dun say so early hor... U c already then say...,,,
4,1,"Nah I don't think he goes to usf, he lives aro...",,,
...,...,...,...,...,...
5567,0,This is the 2nd time we have tried 2 contact u...,,,
5568,1,Will �_ b going to esplanade fr home?,,,
5569,1,"Pity, * was in mood for that. So...any other s...",,,
5570,1,The guy did some bitching but I acted like i'd...,,,
5571,1,Rofl. Its true to its name,,,

# 10. Storing the columns in X and Y

In [13]:
X = sms["v2"]
Y = sms["v1"]
print(X)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will �_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: v2, Length: 5572, dtype: object

In [14]:
print(Y)

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: v1, Length: 5572, dtype: object

# 11. Splitting the Dataset into Training data and Testing data

# We will split our data into 2 parts 
1) Training data (This will be used to train this logistic regression).
2) Testing data (This will be used to test this logistic regression).
# so we are importing this function.

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=42)

In [17]:
print(X.shape)
print(X_train.shape)
print(X_test.shape)

(5572,)
(4457,)
(1115,)

# Text data will not understand by Machine,so we will convert the data into binary format(0,1). For that we are importing the TfidfVectorizer

# 12. Transform the text data to feature vectors that can be used as input to Logistic Regression

In [18]:
from sklearn.feature_extraction.text import TfidfVectorizer
feature_extraction = TfidfVectorizer(min_df = 1, stop_words='english', lowercase=True)

X_train_features = feature_extraction.fit_transform(X_train)
X_test_features = feature_extraction.transform(X_test)

# convert Y_train and Y_test values as int
Y_train = Y_train.astype('int')
Y_test = Y_test.astype('int')

In [19]:
X_train

1978    No I'm in the same boat. Still here at my moms...
3989    (Bank of Granite issues Strong-Buy) EXPLOSIVE ...
3935       They r giving a second chance to rahul dengra.
4078       O i played smash bros  &lt;#&gt;  religiously.
4086    PRIVATE! Your 2003 Account Statement for 07973...
                              ...
3772    I came hostel. I m going to sleep. Plz call me...
5191                               Sorry, I'll call later
5226        Prabha..i'm soryda..realy..frm heart i'm sory
5390                           Nt joking seriously i told
860                   In work now. Going have in few min.
Name: v2, Length: 4457, dtype: object

In [20]:
print(X_train_features)

  (0, 4502)	0.4658046386365619
  (0, 3199)	0.348722265231364
  (0, 7389)	0.348722265231364
  (0, 1702)	0.3431839629173582
  (0, 4397)	0.4528381701109944
  (0, 1371)	0.4658046386365619
  (1, 0)	0.2654936554684193
  (1, 1645)	0.3059746053542906
  (1, 6419)	0.2953742837684993
  (1, 4515)	0.3059746053542906
  (1, 419)	0.28715203556385105
  (1, 4273)	0.2953742837684993
  (1, 4986)	0.1937920260229529
  (1, 2652)	0.3059746053542906
  (1, 1533)	0.2015782058421696
  (1, 6275)	0.269833648032668
  (1, 3617)	0.2804339696184593
  (1, 3129)	0.3059746053542906
  (1, 1187)	0.26161139982801973
  (2, 2184)	0.5102109014477275
  (2, 5331)	0.5102109014477275
  (2, 1670)	0.35156722029872034
  (2, 5750)	0.3962151014046925
  (2, 3050)	0.44585171875646595
  (3, 5464)	0.4829129976175997
  :	:
  (4451, 5719)	0.3358090891373877
  (4451, 4668)	0.3478605253385091
  (4452, 3389)	0.4536077050510107
  (4452, 3410)	0.4833413012939851
  (4452, 1576)	0.3576443319642905
  (4452, 1777)	0.3311324953642251
  (4452, 5978)	0.3311324953642251
  (4452, 5051)	0.3823754823843719
  (4452, 3074)	0.25923599228241945
  (4453, 6082)	0.5894401977366341
  (4453, 3876)	0.6138307933697735
  (4453, 4003)	0.5251399912435084
  (4454, 6088)	0.44743083090000146
  (4454, 2927)	0.3775064911532845
  (4454, 5393)	0.40874206042479744
  (4454, 6089)	0.44743083090000146
  (4454, 5142)	0.43497582872738466
  (4454, 3270)	0.31753127203477105
  (4455, 6678)	0.40997629646174116
  (4455, 5799)	0.5321975225970689
  (4455, 4656)	0.47741741602516974
  (4455, 3700)	0.5663548747533713
  (4456, 4313)	0.6196072009518515
  (4456, 7275)	0.5938942231507836
  (4456, 3074)	0.5132022683472269

# We have so many classification Algorithms,but we will go with Logistic Regression beacause to classify the mail into spam mail or ham mail.

In [21]:
from sklearn.linear_model import LogisticRegression

# 13. Training the model

In [22]:
Log=LogisticRegression()
# Training the Logistic Regression model with training data
Log.fit(X_train_features,Y_train)

LogisticRegression()

In [32]:
from sklearn import svm
svm=svm.SVC()
svm.fit(X_train_features,Y_train)

SVC()

# 14. Evaluting the trained model

In [23]:
# Prediction on training data
pred1=Log.predict(X_train_features)

In [24]:
from sklearn.metrics import accuracy_score

In [25]:
accuracy_score(Y_train,pred1)

0.9692618353152345

In [26]:
# Prediction on testing data
pred1=Log.predict(X_test_features)
accuracy_score(Y_test,pred1)

0.9524663677130045

In [ ]:
# Prediction on testing data(Support Vector Machine)

In [48]:
pred2=Log.predict(X_test_features)
accuracy_score(Y_test,pred2)

0.9524663677130045

# 15. Building a predictive system

In [27]:
inputs=["claiming that a recipient has won a sweepstakes or a prize"]
# convert text to feature vectors
input_features=feature_extraction.transform(inputs)
# Making predictions 
prediction=Log.predict(input_features)
print(prediction)          # 0 means spam mail , 1 means ham mail

[0]